body{
    background-color: gray;
}
#container{
    background-color: red;
    width: 1000px;
    height: 800px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px black;
}
#interactie{
    padding: 10px;
}
#mapImage{
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}