body{
    padding: 5px;
    margin: 5px;
}
.button{
    background-color: skyblue;
    padding: 5px;
    margin: 5px;
    width: 75px;
    color: white;
}
.button:hover{
    background-color: lightcyan;
}